{% extends 'index.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/court-details.css' %}">
{% endblock %}


{% block content %}
{% csrf_token %}
<input type="hidden" id="court-name" value="{{ court_name }}">
<input type="hidden" id="latitude" value="{{latitude}}">
<input type="hidden" id="longitude" value="{{longitude}}">
<div class="card p-4">
  <a href="{% url 'pages:all-booked' %}" class="back-button">Back</a>
</div>
<div class="map-grid">
  <div id="map"></div>
</div>



{% endblock %}


{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
  src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap&v=weekly"
  async
></script>
<script src="{% static 'js/court-details.js' %}"></script>
{% endblock %}